<!DOCTYPE html>
<html>
  <head>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>
    <h2>home page</h2>
    <h3>Tree's are poems</h3>
    <h3>the earth writes</h3>
    <h3>upon the sky</h3>
    <div class="blog-grid">
      <div>
        <img class="blog-image" src="https://cdn.pixabay.com/photo/2018/01/21/19/57/tree-3097419_960_720.jpg">
        <p>connection</p>
      </div>
      <div>
        <img class="blog-image" src="https://cdn.pixabay.com/photo/2016/11/03/19/30/autumn-1795950_960_720.jpg">
        <p>Beauty</p>
      </div>
      <div>
        <img class="blog-image" src="https://cdn.pixabay.com/photo/2016/02/19/10/35/nature-1209302_960_720.jpg">
        <p>Guide</p>
      </div>
    </div>
  </body>
</html>
<!--  this is where you write your html -->
<!--  pulling from data -->