<!DOCTYPE html>
<html>
  <head>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito|Playfair+Display" rel="stylesheet">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/main.css'/>

  </head>
  <body>
    <nav>
      <ul>
        <div>
          <li>home</li>
          <li>blog archive</li>
          <!-- <li >sign in</li> -->
        </div>
        <div class="sign-in">
          <li>log in</li>
          <li>sign in</li>
          <li>new post</li>
          <!-- <li>edit post</li> -->
        </div>
      </ul>
    </nav>
    <h1><%= title %></h1>
    <div class="blog-grid">
      <div>
        <h3>Tree's are poems</h3>
        <!-- -->
        <img class="blog-image" src="https://cdn.pixabay.com/photo/2018/01/21/19/57/tree-3097419_960_720.jpg">
        <!-- <img id="blog-image" src="img_pulpit.jpg" alt=""> -->
        <!-- <p id="blog-image"></p> -->
        <p>connection</p>
      </div>
      <div>
        <h3>the earth writes</h3>
        <img  class="blog-image" src="https://cdn.pixabay.com/photo/2016/11/03/19/30/autumn-1795950_960_720.jpg">
        <p>Beauty</p>
      </div>
      <div>
        <h3>upon the sky</h3>
        <img class="blog-image" src="https://cdn.pixabay.com/photo/2016/02/19/10/35/nature-1209302_960_720.jpg">
        <p>Guidance</p>
      </div>
    </div>
    <footer>Designed by Taylor Davids ©-2019</footer>
    <!-- <script src="/routes/index.js"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  </body>
</html>
<!--  this is where you write your html -->
<!--  pulling from data -->