ul {
    display: grid;
    background: linear-gradient(rgba(70, 46, 46, 0.438),rgb(80, 80, 49));
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    margin: auto;
    // word-spacing: 2rem;
    font-family: 'Nunito', sans-serif;
}
