// style extentions //

// blog images size
.blog-image {
  width: 100%;
  height: 30rem;
}
// nav bar
.sign-in{
    margin-left: 30rem;
}
// heading
#title {
  position: relative;
  z-index: 2;
  margin-top: 0;
}