// style extentions //

.blog-grid {
    display: grid;
    padding: 2rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto);
    /* width: 71.564rem; */
    margin: auto;
  }
  .blog-image {
    width: 100%;
    height: 30rem;
  }
  .sign-in{
      margin-left: 30rem;
  }